<ion-view title="Overlord" ng-controller="addUser">
	<ion-content>
		<form name="addUserForm" ng-init="setFormScope(this)">
			<div class="list">
				<div class="item item-divider">
				User Info
				</div>
				<label class="item item-input">
					<input type="text" placeholder="Full Name" ng-model="newuser.name">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Username" ng-model="newuser.username">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Password" ng-model="newuser.password">
				</label>
				<label class="item item-input">
					<input type="email" placeholder="Email" ng-model="newuser.email">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="Phone" ng-model="newuser.phone">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
					User Type
					</div>
					<select ng-model="newuser.userType" ng-options="o.id as o.name for o in userTypes"></select>
				</label>
				<div class="item item-divider">
				User Actions
				</div>
				<li class="item item-toggle">
					Enabled
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="newuser.enabled">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</div>
			<div class="padding">
				<button class="button button-balanced" ng-click="userSubmit()">
					Add User
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>