<div class="list">
				<a menu-close class="item item-icon-left" href="#/route/events">
					<i class="icon ion-ios7-pulse"></i>
					Events
				</a>
				<a menu-close class="item item-icon-left" href="#/route/users">
					<i class="icon ion-ios7-people"></i>
					User Profiles
					<!--<span class="badge badge-balanced">{{users.length}}</span>-->
				</a>
				<div class="item item-divider">
					Setup
				</div>
				<a menu-close class="item item-icon-left" href="#/route/add-event">
					<i class="icon ion-plus"></i>
					Add Event
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-venue">
					<i class="icon ion-plus"></i>
					Add Venue
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-area">
					<i class="icon ion-plus"></i>
					Add Area
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-position">
					<i class="icon ion-plus"></i>
					Add Position
				</a>
				<a menu-close class="item item-icon-left" href="#/route/add-user">
					<i class="icon ion-person-add"></i>
					Add User
				</a>
				<div class="item item-divider">
					Account
				</div>
				<a menu-close class="item item-icon-left" href="#/intro">
					<i class="icon ion-power"></i>
					Log out
				</a>
			</div>