<ion-view title="Overlord" ng-controller="Charts">
	<ion-content>
		<div class="row chart-wrap">
			<div class="col">
				<h4>Event Entrys Per Hour Since Beginning of Event</h4>
				<canvas id="line2" class="chart chart-line" options="options" data="linedata" labels="linelabels" legend="true" series="lineseries"></canvas>
				
			</div>
		</div>
		<div class="padding center">
					<button class="button button-balanced" ng-click="exportExcel()">
							Export all data
					</button>
		</div>
	</ion-content>
</ion-view>