<ion-view title="Dashboard" ng-controller="Dashboard">
	<ion-tabs class="nav-title-slide-ios7 tabs-striped tabs-icon-top tabs-top tabs-background-light tabs-balanced" animation="nav-title-slide-ios7">
		<ion-tab title="Overview" icon-on="ion-home" icon-off="ion-home" href="#/route/dashboard/home">
			<ion-nav-view name="home-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Areas" icon-on="ion-star" icon-off="ion-star" href="#/route/dashboard/areas">
			<ion-nav-view name="areas-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="People" icon-on="ion-person" icon-off="ion-person" href="#/route/dashboard/settings">
			<ion-nav-view name="settings-tab"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Stats" icon-on="ion-stats-bars" icon-off="ion-stats-bars" href="#/route/dashboard/charts">
			<ion-nav-view name="charts-tab"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>