<ion-view title="Overlord" ng-controller="EventCtrl">
	<ion-content class="padding-vertical">
		<div ng-repeat="event in events">
			<a ng-href="#/route/dashboard/home?eventId={{event.id}}">
				<div class="col-lg-50">
					<div class="item item-icon-left" href="#">
						<i class="icon" ng-class="event.icon"></i>
						{{ event.eventName }}
						<span class="item-note">
						{{ event.description | limitTo: 20 }}{{event.description.length > 20 ? '...' : ''}}
						</span>
					</div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>