<ion-view title="Overlord">	
	<ion-content>
				<div ng-repeat="area in areas | filter: { featured: false}">
			<div class="col-lg-100 padding-horizontal" style="margin-top:10px;">
				<li ng-if="area.type === 'range'" class="item">
					{{ area.name }}
					<span class="item-note">
						{{ area.value }} / {{area.maxValue}} {{ area.units }} ( {{(area.value / area.maxValue) * 100 | number:0}}% )
					</span>
				</li>
				<div ng-if="area.type === 'range'" class="item range range-balanced">
					<i class="icon" ng-class="area.iconBefore"></i>
					<input type="range" ng-model="area.value" name="{{ area.id }}_action" min="{{ area.minValue }}" max="{{ area.maxValue }}">
					<i class="icon" ng-class="area.iconAfter"></i>
				</div>
						<div class="clearfix"></div>
						<div class="padding">
							<div class="item item-divider">
							Positions
							</div>
						</div>
						<div ng-repeat="position in area.positions | filter: { featured: true}">
							<div class="col-lg-50 padding-horizontal">
								<div class="item item-icon-left" on-tap="positionTap('router.position', position)">
									<i class="icon" ng-class="position.icon"></i>
									{{ position.name }} : {{position.entryCount}}
									<span class="item-note" ng-class="position.color">
									{{ position.status }}
									</span>
								</div>
							</div>
							<div ng-if="$last" class="clearfix"></div>
						</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</ion-content>
</ion-view>