<!--<ion-view title="<img src='img/logo.png' class='img-responsive'>">	-->
<ion-view title="Overlord">
	<ion-content>
		<div class="row chart-wrap">
			<div class="col">
				<h4>Event Total Occupancy</h4>
				<canvas id="line" class="chart chart-line" data="data" options="options" labels="labels"></canvas>
			</div>
		</div>
		<div class="padding">
			<div class="item item-divider">
			Event Capacities
			</div>
		</div>
		<div>
			<div class="col-lg-100 padding-horizontal">
				<li class="item">
					Overall Event
					<span class="item-note">
						{{ mainarea.value }} / {{mainarea.capacity}} Visitors ( {{(mainarea.value / mainarea.capacity) * 100 | number:0}}% )
					</span>
				</li>
				<div class="item range range-balanced">
					<i class="icon" ng-class="mainarea.iconBefore"></i>
					<input type="range" ng-model="mainarea.value" ng-disabled="true" name="{{ mainarea.id }}_action" min="0" max="{{ mainarea.capacity }}">
					<i class="icon" ng-class="mainarea.iconAfter"></i>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="padding">
			<div class="item item-divider">
			Area Capacities
			</div>
		</div>
		<div ng-repeat="ar in areas">
			<div class="col-lg-100 padding-horizontal" style="margin-top:10px;">
				<li class="item">
					{{ ar.areaName }}
					<span class="item-note">
						{{ ar.value }} / {{ar.capacity}} Visitors ( {{(ar.value / ar.capacity) * 100 | number:0}}% )
					</span>
				</li>
				<div class="item range range-balanced">
					<i class="icon" ng-class="ar.iconBefore"></i>
					<input type="range" ng-model="ar.value" ng-change="updateAreaNumbers(ar.id, ar.value)" name="{{ ar.id }}_action" min="0" max="{{ ar.capacity }}">
					<i class="icon" ng-class="ar.iconAfter"></i>
				</div>
						<div class="clearfix"></div>
						<div class="padding">
							<div class="item item-divider">
							Positions
							</div>
						</div>
						<div ng-repeat="position in ar.positions">
							<div class="col-lg-50 padding-horizontal">
								<div class="item item-icon-left" on-tap="positionTap('router.position', position)">
									<i class="icon" ng-class="position.icon"></i>
									{{ position.positionName }} : {{position.numVisitors}}
									<span class="item-note" ng-class="position.color">
									{{ position.positionFunction }}
									</span>
								</div>
							</div>
							<div ng-if="$last" class="clearfix"></div>
						</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</ion-content>
</ion-view>