<ion-view title="Overlord">
	<ion-content class="padding">
		<div ng-if="position.id === null">
			<h5 class="text-center">No Positions to Show</h5>
		</div>
		<div ng-if="position.id != null">
			<div class="list">
				<div class="item item-icon-left">
					<i class="icon" ng-class="position.icon"></i>
					{{position.positionName}}
					<span class="item-note" ng-class="position.color">
					{{position.positionFunction}}
					</span>
				</div>
				<div class="item item-divider">
				Position Info
				</div>
				<li class="item">
					Position Type : {{position.positionType}}
				</li>
				<li class="item item-toggle">
					Enabled
					<label class="toggle toggle-balanced">
						<input type="checkbox" checked ng-model="position.enabled">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
				<div class="item item-divider">
				Attendants
				</div>
				<div ng-repeat="user in position.attendants" class="item" on-hold="userHold(user)">
							<div class="card">
								<div class="item item-avatar">
									<img ng-src="{{user.avatar}}">
									<h2>{{ user.name }}</h2>
									<p>{{user.lastLogin | date:'short'}}</p>
								</div>
								<ul class="list">
									<li class="item item-toggle">
									Assigned
									<label class="toggle toggle-balanced">
										<input type="checkbox" ng-checked="user.enabled == 'true'">
										<div class="track">
											<div class="handle"></div>
										</div>
									</label>
									</li>
								</ul>
							</div>
				</div>
			</div>
			<form ng-if="leftSide.src === 'Admin'" name="addUserToPositionForm" ng-init="setFormScope(this)" data-ng-submit="addUserPositionSubmit()">
				<div class="list">
					<div class="item item-divider">
					Position Details
					</div>
					<label class="item item-input item-select">
						<div class="input-label">
						User 
						</div>
						<select ng-model="newuserposition.userid" ng-options="o.id as o.name for o in users | filter:{userType: 'Attendant'}"></select>
					</label>
				</div>
				<div class="padding">
					<button class="button button-balanced">
						Add User to Position
					</button>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>